{% extends "base.html" %}

{% block content %}

{% if lista_de_ciudades %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th colspan="2" scope="col"></th>
          </tr>
        </thead>
        <p><a href="{% url 'studentscrud:ciudad-nuevo' %}">Nuevo</a></p>
        <tbody>
          {% for ciudad in lista_de_ciudades %}
          <tr>
            <th scope="row"><a href="{% url 'studentscrud:ciudad' ciudad.id %}">{{ estudiante.id }}</a></th>
            <td>{{ ciudad.nombre }}</td>
            <td><a href="{% url 'studentscrud:ciudad-editar' ciudad.id %}" title="Editar"><i class="bi bi-pencil"></i></a></td>
            <td><a href="{% url 'studentscrud:ciudad-borrar' ciudad.id %}" title="Borrar"><i class="bi bi-trash"></i></a></td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% else %}
    <p>No hay ciudades</p>
{% endif %}

{% endblock content %}
