{% extends "base.html" %}

{% block content %}

<h1>Grupos</h1>

{% if lista_de_grupos %}

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th colspan="2" scope="col"></th>
          </tr>
        </thead>
        <p><a href="{% url 'studentscrud:grupo-nuevo' %}">Nuevo</a></p>
        <tbody>
          {% for grupo in lista_de_grupos %}
          <tr>
            <th scope="row"><a href="{% url 'studentscrud:grupo' grupo.id %}">{{ grupo.id }}</a></th>
            <td>{{ grupo.nombre }}</td>
            <td><a href="{% url 'studentscrud:grupo-editar' grupo.id %}" title="Editar"><i class="bi bi-pencil"></i></a></td>
            <td><a href="{% url 'studentscrud:grupo-borrar' grupo.id %}" title="Borrar"><i class="bi bi-trash"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

{% else %}
    <p>No hay grupoes</p>
{% endif %}

{% endblock content %}
